@import '../../styles/constants.scss';

.home-work {
  width: 570px;
  border: 1px solid $baseBorderColor;
  background-color: $baseBorderColor;
  border-radius: 10px;

  &__header {
    border-bottom: 1px solid $baseBorderColor;
    padding-top: 36px;
    padding-bottom: 22px;
    padding-left: 13px;
    display: flex;
    align-items: center;

    &-icon {
      width: 43px;
      height: 43px;
      padding-right: 41px;
    }

    &-text {
      color: $baseBlackColor;
      font-size: 1.4rem;
      font-family: $baseBoldFont;
      padding-right: 65px;
    }

    &-link {
      border: none;
      background: inherit;
      outline: none;
      color: $baseHomeWorkLinkColor;
      font-size: 1rem;
      font-family: $baseLightFont;
      height: 20px;
      cursor: pointer;
    }
  }

  &__description {
    padding: 10px 30px;
    color: $baseHomeWorkDescriptionColor;
    font-size: 1.28rem;
    font-family: $baseLightFont;
  }

  &__teacher-info {
    border-top: 1px solid $baseBorderColor;
    padding-top: 36px;
    padding-bottom: 22px;
    padding-left: 13px;
    display: flex;
    align-items: center;

    &-avatar {
      width: 33px;
      height: 42px;
    }

    &-name {
      font-size: 1.2rem;
      font-family: $baseLightFont;
      color: $baseBlackColor;
      padding-right: 85px;
      padding-left: 10px;
    }

    &-who {
      color: $baseHomeWorkWhoColor;
    }

    &-link {
      border: none;
      background: inherit;
      outline: none;
      color: $baseHomeWorkLinkColor;
      font-size: 1rem;
      font-family: $baseLightFont;
      height: 20px;
      cursor: pointer;
    }
  }
}

