@import "../../../styles/constants.scss";

.create-olympiad {
  width: 1170px;
  margin: 0 auto;

  &__header {
    font-size: 1.71rem;
    font-family: $baseBoldFont;
    margin-top: 40px;
    color: $baseBlackColor;
    display: flex;
    justify-content: center;
  }

  &-upload-files {
    margin-top: 20px;
    border: 2px solid #c2c2c2;
    border-radius: 10px;
    padding: 10px;
  }

  &-general {
    display: flex;
    justify-content: space-between;

    &__helper {
      display: flex;

      & .button-all {
        width: 20px;
        height: 20px;
        margin: 0 0 0 10px;
      }
    }

    &-info {
      margin-top: 20px;
      width: 47%;
      & input {
        margin-bottom: 20px;
      }
    }

    &-task {
      margin-top: 20px;
      width: 47%;

      &-files {
        &__btn {
          width: 170px;
          height: 44px;
  
          border-radius: 10px;
          border: none;
          background-color: $baseBackgroundButtonColor;
          cursor: pointer;
          display: block;
          outline: none;
  
          color: $baseLightFontColor;
          font-family: $baseBoldFont;
          font-size: 1.28rem;
          font-weight: 400;
          text-align: center;
  
          box-shadow: 3px 4px 5px rgba(97, 70, 70, 0.3);
        }
      }

      & input {
        margin-bottom: 20px;
      }

      &__examples {
        &-add-btn {
          display: flex;
          align-items: center;

          & div {
            margin-left: 10px;
          }
        }
      }

      &__examples,
      &-files,
      &-archive {
        border: 2px solid $baseBorderCabinerColor;
        border-radius: 10px;
        padding: 10px;
      }

      &__create-btn {
        margin-top: 20px;
        display: flex;
        align-items: center;

        & div {
          margin-left: 10px;
        }
      }

      &__submit-btn {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }

      &-files,
      &-archive {
        margin-top: 20px;
      }
    }
  }
}
