@import '../../../../../styles/constants.scss';
.input-cabinet {

  &__caption {
    color: $baseCabimetCaptionColor;
    font-family: $baseLightFont;
    font-size: 1.7rem;
    font-weight: 500;
  }

  &__area {
    border-radius: 5px;
    height: 283px;
    width: 100%;
    border: 1px solid $baseBorderCabinerColor;
    background-color: $baseWhiteColor;
    resize: none;
    font-family: $baseLightFont;
    font-size: 1.7rem;
    outline: none;
    margin-bottom: 20px;
  }
}