.search-res-block__ {
  &container {
    display: block;
  }
  &title {
    width: 95%;
    margin: 0 auto;
  }
  &label {
    margin-right: 10px;
    color: #2b2a2a;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  &input {
    margin-right: 10px;
    padding-left: 8px;
    width: 150px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    background-color: #ffffff;
    color: #8f8989;
    font-family: "Gilroy";
    font-size: 14px;
    font-weight: 500;
  }
  &input:focus {
    outline: none;
    color: black;
  }
  &input_list {
    width: 300px;
  }

  &btn {
    display: inline-block;
    width: 240px;
    height: 46px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    background-color: #ff8400;
    color: #ffffff;
    cursor: pointer;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 400;
  }

  &btn:hover {
    transition: 0.2s;
    background-color: #8331be;
  }

  &btn:focus {
    outline: none;
  }
  &btn_excel {
    display: block;
    margin: 10px auto;
    width: 400px;
  }
  &table {
    margin-top: 20px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    color: #2b2a2a;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  &td {
    border: 1px solid black;
    text-align: center;
  }

  &td_title {
    font-weight: 500;
  }

  &td_title:last-child {
    border-right: none;
  }

  &td_result {
    width: 40%;
  }

  &tr:hover {
    background-color: #d09ff3;
  }
}
