@import '../../styles/constants.scss';

.lesson {
  margin-top: 50px;
  width: 570px;

  &-header {
    
    &__name {
      font-size: 2.14rem;
      color: $baseBlackColor;
      font-family: $baseBoldFont;
    }

    &__count {
      font-size: 1.28rem;
      color: $baseHomeWorkWhoColor;
      font-family: $baseLightFont;
    }
  }

  &-description {
    margin-top: 50px;

    &__content {
      font-size: 1.43rem;
      color: $baseBlackColor;
      font-family: $baseLightFont;
    }
  }

  &-example {
    margin-top: 70px;
    height: 166px;
    width: 500px;
    background: $baseExampleCodeBackground;
    overflow-x: scroll;

    &__code {
      color: rgb(168, 165, 165);
      font-size: 1rem;
    }
  }
}
