.registration-container__margin {
  margin: 50px auto;
}

.registration-container__size {
  width: 420px;
  padding-top: 40px;
  background: lightgrey;
  border-radius: 10px;
}

.registration-container__header {
  display: flex;
  justify-content: space-around;
}

.registration-container__blank-name {
  font-size: 24px;
  color: #6f6464;
  font-family: "gilroy_extra_bold";
  text-align: center;
}

.registration-container__link {
  line-height: 2.6;
  font-size: 14px;
  color: #6f6464;
  font-family: "gilroy_light";
  cursor: pointer;
}

.registration-container__link:hover {
  color: #fffefe;
  transition: 0.5s;
}

.form__input {
  width: 80%;
  height: 30px;
  font-size: 24px;
  color: #6f6464;
  font-family: "gilroy_extra_bold";
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 10px;
}

#form__input-id-motivation {
  height: 200px;
  resize: none;
}

.form__submit {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 230px;
  height: 44px;
  border-radius: 10px;
  background-color: #feaf55;
  border: none;
  color: #fffefe;
  font-family: "gilroy_extra_bold";
  font-size: 1.28rem;
  font-weight: 400;
  cursor: pointer;
  outline: none;
}
.form__submit_hover:hover {
  color: #6f6464;
  background: #ffffff;
  transition: 0.5s;
}

.form_align-content {
  text-align: center;
}

.form__input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #c5bcbc;
}
.form__input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #c5bcbc;
}
.form__input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #c5bcbc;
}
.form__input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #c5bcbc;
}
.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #c5bcbc;
}
.form__input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #c5bcbc;
}
.form__input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #c5bcbc;
}
.form__input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #c5bcbc;
}
