@import "../../../styles/constants.scss";

.olympiad-select {
  font-size: 1.28rem;
  font-family: $baseBoldFont;
  width: 80%;
  position: relative;

  &__label {
    height: 51px;
    color: $baseSelectColor;
    border: 1px solid $baseBorderSelectColor;
    border-radius: 9px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  &__pop-up {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    border: 1px solid $baseBorderSelectColor;
    border-radius: 10px;
    background: white;
    color: $baseSelectColor;

    &-value {
      display: flex;
      justify-content: flex-start;
      padding: 15px 0 15px 15px;
      cursor: pointer;
    }
  }
}
