@import "../../../styles/constants.scss";

.olympiad-select {
  font-size: 1.28rem;
  font-family: $baseBoldFont;
  width: 80%;

  &__label {
    height: 32px;
    color: $baseSelectColor;
    border: 1px solid $baseBorderSelectColor;
    border-radius: 9px;
    margin-bottom: 15px;
    padding-top: 5px;
    cursor: pointer;
  }

  &__pop-up {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid $baseBorderSelectColor;
    border-radius: 10px;
    background: white;
    color: $baseSelectColor;

    &-value {
      display: flex;
      justify-content: flex-start;
      padding: 15px 0 15px 15px;
      cursor: pointer;
    }
  }
}
