@import '../../../styles/constants.scss';

.registration-olymp-form {
  background: linear-gradient(
    to top,
    #4f2f82 0%,
    #5f3789 10%,
    #714091 21%,
    #714091 31%,
    #714091 40%,
    #543184 78%,
    #371e48 100%
  );
  width: 40%;
  height: 500px;
  border-radius: 10px;
  padding-top: 43px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &-select {
    display: flex;
    justify-content: center;
  }

  &-team-name {
    color: $baseWhiteColor;
    font-family: $baseBoldFont;
    font-size: 1.7rem;
    margin-bottom: 73px;
  }

  &__list {
    width: 80%;
    margin: 0 auto;
    border: 1px solid $baseBorderColor;
    border-radius: 10px;

    &-item {
      color: $baseLightFontColor;
      padding: 10px;
      transition: all 0.5s;
      cursor: pointer;
      font-family: $baseLightFont;
      font-size: 18px;
      border-radius: 10px;

      &:hover {
        background-color: $baseHeaderBackground;
      }
    }
  }
}

.container-button-form {
  margin-top: 70px;
}
