.registration-team-page {
    margin: 0 auto;
    width: 1170px;
}

.registration-team-page-header {
    color: #141313;
    font-family: 'gilroy_extra_bold';
    font-size: 2.5rem;
    margin-top: 112px;
    margin-bottom: 49px;
    text-align: center;
}

.container-cards-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
}
