$baseLightFont: 'gilroy_light';
$baseBoldFont: 'gilroy_extra_bold';

$baseBlackColor: #000000;
$baseWhiteColor: #ffffff;
$baseLightFontColor: #fffefe;
$baseFooterBackground: #434242;

$baseHoverColor: #feaf55;
