$baseLightFont: "gilroy_light";
$baseBoldFont: "gilroy_extra_bold";

/*--------------grey colors--------------*/
$baseHomeWorkDescriptionColor: #5b5a5a;
$baseHomeWorkWhoColor: #716d6d;
$baseEmailCabinetColor: #545454;
$baseFooterBackground: #434242;
$baseSelectColor: #938e8e;
$baseBorderSelectColor: #acacac;
$baseDivideCardColor: #7d7d7d;
$baseCabimetCaptionColor: #757575;
$baseInputColor: #c5bcbc;
$baseBorderColor: #cfcdcd;
$baseFontControl: #6f6464;
$baseBorderCabinerColor: #c2c2c2;
$baseDivideBackrground: #cbcbcb;
$baseOlympiacNumberBackground: #ebebeb;
$baseOlympicDescriptionColor: #ececec;
$baseTimerTextColor: #e8e8e8;
$baseLessonColor: #848080;
$baseLinkOlympiadColor: #aba8a8;

/*--------------orange colors--------------*/
$baseHoverColor: #feaf55;
$baseBackgroundButtonColor: #fd9901;
$baseStepCreateColor: #fb901d;
$baseHeaderOlympicTasksColor: #ff8400;
$baseBackgroundPagerSelectColor:#fc840e;

/*--------------white colors--------------*/
$baseWhiteColor: #ffffff;
$baseLightFontColor: #fffefe;
$baseHomeWorkBackgroundColor: #fcfcfc;
$baseStepColor: #f1f1f1;
$baseHeaderOlympiadColor: #faf8f8;
$baseExampleCodeBackground: #f5f5f5;
$baseBackgroundProgress: #fdfcfc;

/*--------------black colors--------------*/
$baseNameCabinetColor: #202020;
$baseCoursesCabinetColor: #161616;
$olympicColor: #141313;
$baseBlackColor: #000000;
$baseSuccessTextColor: #191919;
$baseLessonCardCaptionColor: #323131;
$baseFontPagerColor: #010101;
$baseColorLesson: #020202;

/*--------------other colors--------------*/
$baseHeaderBackground: #2d1e57;
$baseHomeWorkLinkColor: #0d6672;
$baseBackgroundOlympic: #714091;
