$baseLightFont: "gilroy_light";
$baseBoldFont: "gilroy_extra_bold";

$baseBlackColor: #000000;
$baseWhiteColor: #ffffff;
$baseLightFontColor: #fffefe;

$baseFooterBackground: #434242;
$baseHeaderBackground: #2d1e57;

$baseBorderColor: #cfcdcd;

$baseDivideCardColor: #7d7d7d;

$olympicColor: #141313;

$baseHomeWorkBackgroundColor: #fcfcfc;
$baseHomeWorkWhoColor: #716d6d;
$baseHomeWorkLinkColor: #0d6672;
$baseHomeWorkDescriptionColor: #5b5a5a;

$baseHoverColor: #feaf55;

$baseFontControl: #6f6464;
