@import "../../../styles/constants.scss";

.login {
  width: 420px;
  padding-top: 40px;
  background: lightgrey;
  border-radius: 10px;
  margin: 50px auto;
  padding-bottom: 20px;

  &-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__enter-text {
      margin: 0;
      font-size: 24px;
      color: #6f6464;
      font-family: "gilroy_extra_bold";
      text-align: center;
    }

    &__havnt-account {
      margin: 0;
      line-height: 2.6;
      font-size: 14px;
      color: #6f6464;
      font-family: "gilroy_light";
      cursor: pointer;

      &:hover {
        color: #fffefe;
        transition: 0.5s;
      }
    }
  }

  &-form {
    text-align: center;

    &__forgot-password {
      display: block;
      width: 30%;
      margin: 0 auto;
      margin-top: 20px;
      font-size: 16px;
      color: #6f6464;
      font-family: "gilroy_light";
      cursor: pointer;

      &:hover {
        color: #fffefe;
        transition: 0.5s;
      }
    }

  }

}
