.custom-input-container {
  font-size: 1.28rem;
  font-family: "gilroy_light";
  font-weight: 600;
}

.custom-input__text {
  width: 270px;
  height: 32px;
  border: 1px solid black;
  border-radius: 9px;
  margin-bottom: 15px;
  padding-top: 5px;

  cursor: pointer;
}

.custom-input__pop-up-panel {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 270px;
  position: absolute;
  border: 1px solid silver;
  border-radius: 10px;
  background: white;
}

.custom-input__value {
  display: flex;
  justify-content: flex-start;
  padding: 15px 0 15px 15px;
  cursor: pointer;
}

.custom-input__value:last-child {
  border-radius: 0 0 9px 9px;
}

.custom-input__value:first-child {
  border-radius: 9px 9px 0 0;
}
