@import '../../styles/constants.scss';

.choose-program {
  margin-top: 145px !important;
  margin-bottom: 145px !important;
  position: relative;
  text-align: center;

  &__header {
    color: $baseBlackColor;
    font-family: $baseBoldFont;
    font-size: 2.57rem;
    font-weight: 400;
    margin-bottom: 150px;
  }

  &__control {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;

    &-item {
      margin: 0 20px 20px 20px;
    }

    &-input {
      width: 269px;
      height: 35px;
      border: 1px solid $baseBlackColor;
      border-radius: 10px;
      text-align: left;
      display: flex;
      outline: none;
    }

    &-icon {
      width: 16px;
      height: 17px;
      display: block;
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
    }

    &-interact {
      width: 200px;
      border: none;
      border-radius: 10px;
      background-color: $baseWhiteColor;
      color: $baseBlackColor;
      font-family: $baseLightFont;
      font-size: 1.28rem;
      outline: none;

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-moz-placeholder,
      &:-ms-input-placeholder,
      &:focus::-webkit-input-placeholder,
      &:focus::-moz-placeholder,
      &:focus:-moz-placeholder,
      &:focus:-ms-input-placeholder {
        font-family: $baseLightFont;
        opacity: 1;
        transition: opacity 0.3s ease;
        color: $baseInputColor;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
