.variant-block__ {
  &container {
    margin-top: 10px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    background-color: #ffffff;
    color: #212121;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
  }

  &content {
    position: relative;
    display: flex;
  }

  &img {
    display: block;
    width: 160px;
    margin-left: 5px;
  }

  &left {
    width: 27%;
    display: flex;
  }

  &right {
    width: 73%;
    display: flex;
  }

  &text {
    position: relative;
    word-wrap: break-word;
    width: 80%;
  }

  &nfPrice {
    width: 4%;
  }

  &state {
    width: 16%;
    padding-left: 6px;
  }
}
