@import '../../styles/constants.scss';

.ModalWindow-paper-1,
.ModalWindow-paper-8,
.ModalWindow-paper-12 {
  width: auto !important;
  height: auto !important;
}

.modal {

  &__content {
    text-align: center;
    color: $baseBlackColor;
    font-family: $baseBoldFont;
    font-size: 1.3rem;
    margin-top: 20px;

    margin-bottom: 66px;
  }
}
