@import '../../../../styles/constants.scss';

#uploadArchive {
  text-align: center;
  margin-top: 10px;

  &__btn {
    width: 170px;
    height: 44px;
  
    border-radius: 10px;
    border: none;
    background-color: $baseBackgroundButtonColor;
    cursor: pointer;
    display: block;
    outline: none;
  
    color: $baseLightFontColor;
    font-family: $baseBoldFont;
    font-size: 1.28rem;
    font-weight: 400;
    text-align: center;
  
    box-shadow: 3px 4px 5px rgba(97, 70, 70, 0.3);
  }
}

.my-self-cabinet {

  &__header {
    font-size: 1.71rem;
    font-family: $baseBoldFont;
    margin-top: 40px;
    color: $baseBlackColor;
    display: flex;
    justify-content: center;
  }

  &-olympiad-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 80%;
    margin: 20px auto;
    border-top: 2px solid $baseBorderCabinerColor;
    border-bottom: 2px solid $baseBorderCabinerColor;
  }

  &__loader {
    display: flex;
    justify-content: center;

    &-text {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      font-family: "gilroy_extra_bold";
      font-size: 1.3rem;
    }
  }
  &__unlogged {
    margin-top: 150px;
    text-align: center;
    font-family: "gilroy_extra_bold";
    font-size: 2rem;
  }


}
