.passing-block__btn-div {
    position: relative;
}

.passing-block__button {
    margin: 30px 20px 30px 0;
    width: 165px;
    height: 38px;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #ff8400;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 600;
}

.passing-block__button:hover {
    transition: 0.2s;
    background-color: #842cc1;
}

.passing-block__button:first-child {
    margin-left: 120px;
}
.passing-block__button_large{
    width: 310px;
}
.passing-block__results {
    display: none;
}
.passing-block__question-map-container{
    width: 100%;
    margin-bottom: 10px;
    overflow-y: auto;
}
.passing-block__question-map {
    height: 120px;
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.passing-block__question-map-item {
    display: block;
    margin: 3px 10px;
    width: 57px;
    height: 54px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #c8aeda;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-family: "Gilroy";
    font-size: 30px;
    font-weight: 600;
    line-height: 54px;
}

.passing-block__question-map-item_disabled {
    display: none;
}

.passing-block__question-map-item:hover {
    background-color: #842cc1;
}

.passing-block__question-map-item_answered {
    background-color: rgb(38, 86, 177);
}

.passing-block__question-map-item_active {
    background-color: #842cc1;
}

.passing-block__decorate {
    position: absolute;
    width: 20%;
    bottom: -35px;
    right: 0;
}