.progress-navigation__size {
    width: 370px;
    height: 808px;
}

.progress-navigation_position {
    margin-top: 305px;
}

.progress-navigation_beauty {
    border-radius: 10px;
    border: 1px solid #cfcdcd;
    background-color: #fdfcfc;
}

.progress-navigation-header {
    padding: 25px 0 15px 20px;
}

.progress-navigation-header_content {
    display: flex;
}

.progress-navigation-header_beauty {
    border-bottom: 1px solid #cfcdcd;
}

.progress-navigation-header__img {
    width: 38px;
    height: 32px;
    margin-right: 20px;
}

.progress-navigation-header__p {
    color: #020202;
    font-family: 'gilroy_extra_bold';
    font-size: 24px;
}

.progress-navigation-lesson {
    padding: 25px 0 15px 20px;
    border-bottom: 1px solid #cfcdcd;
}

.progress-navigation-lesson_content {
    display: flex;
}

.progress-navigation-lesson__img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.progress-navigation-lesson__p {
    font-size: 24px;
    font-family: 'gilroy_extra_bold';
    font-weight: 700;
    line-height: 2;
}

.progress-navigation-main {
    padding: 25px 0 48px 20px;
}

.progress-navigation-main__p {
    color: #000000;
    font-family: 'gilroy_extra_bold';
    font-size: 1.7rem;
}

.progress-navigation-list_first {
    margin-top: 38px;
}

.progress-navigation-list__size {
    width: 290px;
    display: flex;
}

.progress-navigation-list_content {
    margin-top: 20px;
}

.progress-navigation-list__img {
    width: 23px;
    height: 23px;
    margin-right: 14px;
}

.progress-navigation-list__later-lesson-name {
    color: #848080;
    font-size: 1.42rem;
    font-family: 'gilroy_light';
}

.progress-navigation-list__count {
    color: #848080;
    font-size: 1.42rem;
    font-family: 'gilroy_light';
    width: 10px;
    height: 16px;
    margin-right: 26px;
}

.progress-navigation-list__lesson-name {
    color: #000000;
    font-size: 1.22rem;
    font-family: 'gilroy_light';
}