@import '../../../styles/constants.scss';

.olympiad-score {

  &__header {
    font-size: 1.71rem;
    font-family: $baseBoldFont;
    margin-top: 40px;
    color: $baseBlackColor;
    display: flex;
    justify-content: center;
  }

  &__table {
    padding: 15px;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
  
    &-row-header {
      background: $baseOlympiacNumberBackground;
    }

    &-ceil-header {
      border: 1px solid $baseDivideBackrground;
      text-align: center;
      
    }

    &-ceil-body {
      height: 50px;
      padding: 15px;
      border: 1px solid $baseDivideBackrground;
    }
  }

  &__loader {
    display: flex;
    justify-content: center;
  }

}
