.advantages__flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.list-advantages_margin {
  margin-top: 244px;
}

.list-advantages__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.list-advantages_font {
  color: #000000;
  font-family: "gilroy_light";
  font-size: 1.71rem;
  font-weight: 300;
}

.list-advantages__item {
  display: block;
  list-style-type: none;
  width: 280px;
  height: auto;
  margin: 25px 15px 15px 0;
}

.list-advantages__image {
  height: 111px;
  width: 111px;
}

.list-advantages__text {
  margin-top: 20px;
}

@media (max-width: 1070px) {
  .list-advantages {
    padding-left: 0px;
    margin-top: 424px;
  }
}
