@import '../../styles/constants.scss';

.advantages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 244px;
    color: $baseBlackColor;
    font-family: $baseLightFont;
    font-size: 1.71rem;
    font-weight: 300;

    &-item {
      display: block;
      list-style-type: none;
      width: 280px;
      height: auto;
    }

    &-image {
      height: 111px;
      width: 111px;
    }

    &-caption {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1070px) {
  .advantages__list {
    padding-left: 0px;
    margin-top: 424px;
  }
}
