.user-block__ {
  &container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &profile {
    display: flex;
    height: 300px;
    width: 45%;
  }

  &logo {
    width: 42%;
  }

  &logo-content {
    width: 174px;
    height: 174px;
    border-radius: 50%;
    background-color: #828282;
  }

  &logo-text {
    color: #ff8400;
    line-height: 174px;
    text-align: center;
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: 700;
  }

  &info {
    width: 58%;
  }

  &info-text {
    margin-top: 11px;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 300;
  }

  &info-text_margin {
    margin-top: 0px;
  }

  &name {
    color: #202020;
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: 700;
    line-height: 90px;
  }

  &email {
    color: #545454;
    cursor: pointer;
  }

  &status {
    margin-top: 5px;
    color: #ff8400;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 300;
  }

  &edit {
    color: #171717;
    cursor: pointer;
  }

  &edit:hover {
    color: #ff8400;
  }

  &logOut {
    color: #171717;
    cursor: pointer;
  }

  &logOut:hover {
    color: #ff8400;
  }

  &tests-config {
    position: relative;
    height: 300px;
    width: 65%;
  }

  &config-container {
    display: flex;
    margin-top: 35px;
    padding-left: 0;
    justify-content: space-around;
    list-style: none;
  }

  &create-test {
    position: relative;
    width: 40%;
    height: 53px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ff8400;
    cursor: pointer;
    line-height: 53px;
    color: #ffffff;
    text-align: center;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &create-test:hover &create-ul {
    opacity: 1;
    display: block;
    top: 100%;
    transition: 0.4s opacity;
  }

  &create-test:hover .iconTests {
    transition: 0.4s;
    transform: rotate(180deg);
  }

  &create-ul {
    z-index: 2;
    position: absolute;
    top: -999em;
    opacity: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &create-li {
    width: 80%;
    margin: 0 auto;
    margin-top: 2px;
    cursor: pointer;
    background-color: #ff8400;
    border: 1px solid black;
    border-radius: 10px;
  }

  &create-li:hover {
    padding-left: 6px;
    transition: 0.2s;
    background-color: #fdad00;
  }
  &create-li_small {
    font-size: 15px;
  }
  &search-res {
    width: 30%;
    height: 53px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #6b2a98;
    cursor: pointer;
    text-align: center;
    line-height: 53px;
    color: #ffffff;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  &search-res:hover {
    padding-left: 3px;
    transition: 0.2s;
    background-color: #8036b4;
  }
  &all-tests {
    width: 30%;
    height: 53px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #6b2a98;
    cursor: pointer;
    text-align: center;
    line-height: 53px;
    color: #ffffff;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &all-tests:hover {
    padding-left: 3px;
    transition: 0.2s;
    background-color: #8036b4;
  }

  &search-container {
    position: relative;
    z-index: 1;
    width: 40%;
  }

  &search {
    height: 48px;
    width: 100%;
  }

  &filter {
    position: relative;
    width: 30%;
    height: 48px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ff8400;
    cursor: pointer;
    line-height: 48px;
    color: #ffffff;
    text-align: center;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  &filter-ul {
    z-index: 2;
    position: absolute;
    top: -999em;
    opacity: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &filter-li {
    width: 80%;
    margin: 0 auto;
    margin-top: 2px;
    cursor: pointer;
    background-color: #ff8400;
    border: 1px solid black;
    border-radius: 10px;
  }

  &filter-li:hover {
    padding-left: 6px;
    transition: 0.2s;
    background-color: #fdad00;
  }

  &filter:hover &filter-ul {
    opacity: 1;
    display: block;
    top: 100%;
    transition: 0.4s opacity;
  }

  &filter:hover .iconFilter {
    transition: 0.4s;
    transform: rotate(180deg);
  }
}
