.olympic-card {
    width: 570px;
    height: 380px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.59);
    border-radius: 10px;
    background-color: #714091;
    margin-bottom: 142px;
}

.olympic-image {
    width: 227px;
    height: 150px;
    margin-left: 20px;
}

.olympic-card-header {
    text-align: center;
    color: #faf8f8;
    font-family: "gilroy_extra_bold";
    font-size: 30px;
    font-weight: 400;
    margin-top: 36px;
}

.olympic-card-content {
    display: flex;
    margin-top: 36px;
}

.olympic-card-image {
    width: 500px;
    height: 200px;
    margin-left: 20px;
}

.olympic-text {
    color: #faf8f8;
    font-family: 'gilroy_light';
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 23px;
}

.olympic-span {
    color: #ff8400;
}

.olympic-date {
    color: #ffffff;
    font-family: 'gilroy_light';
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 28px;
}

.olympic-timetable {
    color: #aba8a8;
    font-family: 'gilroy_light';
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    margin-right: 17px;
}
