.olympic-card {
    width: 570px;
    height: 380px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.59);
    border-radius: 10px;
    background-color: #714091;
}

.olympic-image {
    width: 227px;
    height: 150px;
    box-shadow: 0 0 5px rgba(252, 252, 252, 0.27);
}

.olympic-card-header {
    text-align: center;
    color: #faf8f8;
    font-family: "gilroy_extra_bold";
    font-size: 30px;
    font-weight: 400;
}

.olympic-card-content {
    display: flex;
}

.olympic-text {
    color: #faf8f8;
    font-family: 'gilroy_light';
    font-size: 24px;
    font-weight: 300;
}

.olympic-span {
    color: #ff8400;
}

.olympic-date {
    color: #ffffff;
    font-family: 'gilroy_light';
    font-size: 18px;
    font-weight: 300;
}

.olympic-timetable {
    color: #aba8a8;
    font-family: 'gilroy_light';
    font-size: 14px;
    font-weight: 300;
}
