@import '../../../styles/constants.scss';

.olympic {
  &-header {
    margin: 0 auto;
    text-align: center;
    color: $olympicColor;
    font-family: $baseBoldFont;
    width: 60%;
    font-size: 36px;
    font-weight: 400;
    margin-top: 120px;
    margin-bottom: 65px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
  }
}
