@import '../../styles/constants.scss';

.compile {
  width: 70%;
  height: 500px;
  resize: none;
  outline: none;

  &-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;

    :first-child {
      margin-right: 20px;
    }
  }

  &-responce {
    max-width: 500px;
    margin-top: 20px;
    color: $baseBackgroundProgress;
    font-size: 1.28rem;
    font-family: $baseBoldFont;
  }
}

