.content_position {
  margin-top: 200px;
}

.content__size {
  width: 570px;
}

.main_content {
  display: flex;
  justify-content: space-between;
}

.main_margin {
  margin: 0 auto;
}

.main__size {
  width: 1170px;
}

/*.page {
  width: 1170px;
}*/

.page_margin {
  margin: 0 auto;
}

.header__size {
  height: 200px;
  position: relative;
}

.header__size_main-page {
  height: 800px;
  position: relative;
}

.header_back-styles {
  background-color: #2d1e57;
}

.regist-enter__flex {
  display: flex;
  flex-direction: row-reverse;
}

.regist-enter__size {
  height: auto;
}

.regist-enter__margin {
  margin-left: 170px;
}

.regist-enter__registration {
  width: 168px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  background-color: #ffffff;
  text-align: center;
  margin: 20px 10px 0 0;
  font-size: 1.28rem;
  font-weight: 400;
  font-family: "gilroy_extra_bold";
  cursor: pointer;
  color: #6f6464;
  outline: none;
}

.regist-enter__registration_hover:hover {
  background-color: #feaf55;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.89);
  color: #6f6464;
  transition: 0.5s;
  outline: none;
}
.regist-enter__enter_hover:hover {
  background-color: #feaf55;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.89);
  color: #6f6464;
  transition: 0.5s;
  outline: none;
}

.regist-enter__enter {
  width: 178px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  background-color: #ffffff;
  margin: 20px 10px;
  font-size: 1.28rem;
  font-weight: 400;
  font-family: "gilroy_extra_bold";
  cursor: pointer;
  color: #6f6464;
  outline: none;
}
.navigation {
  text-align: center;
  padding-bottom: 16px;
}

.navigation-list {
  padding: 0;
}

.navigation-list_margin {

  margin-bottom: 40px;
}

.navigation-list_font {
  font-family: "gilroy_extra_bold";
}

.navigation-list__link {
  display: inline;
  color: #ffffff;
  font-size: 1.61em;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.navigation-list__link_hover:hover {
  color: #feaf55;
  transition: 0.5s;
}

.navigation-list__item {
  display: inline;
  list-style-type: none;
  padding: 10px 22.3px 10px 0;
}

.navigation-list__lats-item {
  padding: 10px 0px 10px 0;
}

.navigation-list__avatar {
  width: 45px;
  height: 45px;
  margin-bottom: -15px;
  background-color: white;
  border-radius: 22px;
}

.navigation-list__link_avatar {
  width: 45px;
  height: 45px;
}

.navigation-list_avatar {
  width: 45px;
  height: 45px;
}
 .navigation-list__link_margin{
  margin-right: 19.5px; 
}

.navigation-list__popup-menu{
  margin-left: -13px;  
}

.MuiIconButton-label-6 {
  color: #919191 !important;
}

/*@media (max-width: 1000px) {
  .regist-enter__margin {
    margin-left: 0;
  }
  .navigation {
    display: flex;
    justify-content: flex-start;

  }
  .navigation-list_margin {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
  }
  .navigation-list__item {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
  }
  .navigation-list__link_margin{
    margin-right: 55px; 
    margin-top: auto;
    margin-bottom: auto;
  }
}*/
