@import '../../../styles/constants.scss';

.single-olympiad {
  width: 80%;
  margin: 100px auto 180px;
  background-color: $baseBackgroundOlympic;
  padding-top: 40px;
  border-radius: 10px;

  &__content {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 50px;
  }
}
