.slider-control-bottomcenter button {
  color: rgba(255, 255, 255, 0.38) !important;
  font-size: 40px !important;
  padding: 0 !important;
}

.slider-control-bottomcenter {
  bottom: 20px !important;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  background: #2d1e57;
  margin-top: -60px;
  padding-bottom: 31px;
}

.slider__flex {
  display: flex;
  justify-content: space-between;
}

.slider__size {
  width: 800px;
  min-width: 1170px;
  margin-top: 47px;
  height: 600px;
}

.slider_back-styles {
  background: linear-gradient(to bottom, #4c2d81, #714091);
  border-radius: 20px;
}

.description-slider__size {
  width: 35%;
  height: auto;
}

.description-slider_margin {
  margin-top: 100px;
  margin-left: 100px;
  text-align: left;
}

.description-slider__header {
  color: #fffefe;
  font-size: 2.57rem;
  font-family: "gilroy_extra_bold";
  font-weight: 400;
}

.description-slider__content {
  font-family: "gilroy_light";
  font-weight: 300;
  color: #fffefe;
  font-size: 2.14rem;
  margin-bottom: 30px;
}

.description-slider__main {
  width: 320px;
  color: #fffefe;
  font-family: "gilroy_light";
  font-size: 1.28rem;
  font-weight: 300;
  margin-bottom: 60px;
}

.description-slider__button {
  width: 170px;
  height: 44px;
  border-radius: 10px;
  background-color: #fb901d;
  border: none;
  color: #fffefe;
  font-family: "gilroy_extra_bold";
  font-size: 1.28rem;
  font-weight: 400;
  cursor: pointer;
  outline: none;

  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
}

.description-slider__button_hover:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: 0.7s
}

.image-slider__size {
  width: 433px;
  height: 60%;
}

.image-slider__beauty {
  display: "block";
  overflow: "hidden";
}

.image-slider_margin {
  margin-left: 30px;
  margin-top: 100px;
  margin-right: 100px;
}

.image-slider_back-styles {
  background: url("../../images/image-slider__guy.png");
  opacity: 0.94;
}

.MuiMobileStepper-dotActive-12 {
  background: #2d1e57;
}

.slider-control-centerleft {
  display: none;
}

.slider-control-centerright {
  display: none;
}

.wrapperSlider {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  min-width: 1170px;
}

.mechanic-item1__image {
  width: 264px;
  height: 504px;
  position: absolute;
  left: -23%;
  top: 55px;
  border: none;
}

.mechanic-item2 {
  width: 201px;
  height: 386px;
  position: absolute;
  border: none;
  right: -10%;
  top: 55px;
}

.slider_position {
  position: relative;
  z-index: 99999;
}