.slider {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  min-width: 1170px;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    background: #2d1e57;
    margin-top: -100px;
    padding-bottom: 31px;

    &__slide {
      display: flex;
      justify-content: space-between;
      width: 800px;
      min-width: 1170px;
      margin-top: 47px;
      height: 600px;
      background: linear-gradient(to bottom, #4c2d81, #714091);
      border-radius: 20px;
      position: relative;
      z-index: 99999;

      &-info {
        width: 35%;
        height: auto;
        margin-top: 100px;
        margin-left: 100px;
        text-align: left;

        &-header {
          color: #fffefe;
          font-size: 2.57rem;
          font-family: "gilroy_extra_bold";
          font-weight: 400;
        }

        &-description {
          font-family: "gilroy_light";
          font-weight: 300;
          color: #fffefe;
          font-size: 2.14rem;
          margin-bottom: 30px;
        }

        &-text {
          width: 320px;
          color: #fffefe;
          font-family: "gilroy_light";
          font-size: 1.28rem;
          font-weight: 300;
          margin-bottom: 60px;
        }
      }

      &-image {
        width: 433px;
        height: 60%;
        margin-left: 30px;
        margin-top: 100px;
        margin-right: 100px;
        display: "block";
        overflow: "hidden";
      }
    }
  }
}

.MuiMobileStepper-dotActive-12 {
  background: #2d1e57;
}
